@media screen {}
body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: #459bc5;
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgb(237, 129, 129);
    border-radius: 10px;

}

#addtask {
    position: relative;
    padding: 30px 20px;
}

#addtask input {
    color: #141714;
    width: 75%;
    height: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: 2px solid;
    background: rgb(237, 129, 129);
    padding: 12px;
    color: #141714;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
}

#addtask input:focus {
    outline: none;
    border-color: #41abdd;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#addtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #74222d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#works {
    font-weight: bold;
    color: rgb(23, 23, 24);
    font-size: 20px;
    font-family: serif;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.task {
    background-color: #96d2dd;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}

.task span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    font-weight: bold;
    background-color: #0a2ea4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;
}